
<mat-toolbar>
    
    <!-- <span>Demo App</span> -->
    <span>
        <img src="/Demo-App/src/assets/logo.jpg" alt="logo">
        </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span>Home</span>
    <li>
        <ul>About us</ul>
        <ul>Jobs</ul>
        <ul>Clients </ul>
        <ul>Employees </ul>
        <ul>Contact us</ul>
    </li>
   <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    
  </mat-toolbar>
